<a href="https://colab.research.google.com/github/Jahan08/Amber-tutorial/blob/main/Dataset-preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
excelFile = pd.read_excel ('/content/LC_Stock_HTS_Compounds_noHTSduplicate_noPAINS_activity_stability_solubility.xlsx')

In [6]:
excelFile.to_csv ("LC_Stock_HTS_Compounds_noHTSduplicate_noPAINS_activity_stability_solubility.csv", index = None, header=True)
df = pd.DataFrame(pd.read_csv("LC_Stock_HTS_Compounds_noHTSduplicate_noPAINS_activity_stability_solubility.csv"))
df

<ipython-input-6-19b5367ba81a>:2: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.DataFrame(pd.read_csv("LC_Stock_HTS_Compounds_noHTSduplicate_noPAINS_activity_stability_solubility.csv"))

,Name,Activity_against_INF,Stability,Solubility,Smiles,Name[1],Name[2],Activity_against_INF[1],Activity_against_INF[2],Name[3],Activity_against_INF[3]
0,F1903-0751,Inconclusive,Inconclusive,Yes,C1(N(CC2)CCN2)=NC(=C(F)C(=O)N1)C(C)C,NaN,NaN,NaN,NaN,NaN,NaN
1,F1903-9899,Inconclusive,No,Yes,N1=C(C(C)(C)C)C=CC(=O)N1C(CC2)CCN2,NaN,NaN,NaN,NaN,NaN,NaN
2,F1903-9900,Inconclusive,Yes,Yes,N1=C(C=CC(=O)N1C(CC2)CCN2)C3CC3,NaN,NaN,NaN,NaN,NaN,NaN
3,F1904-0726,Inconclusive,Yes,Yes,c(n1)(cc2c(n1)CCC2)N(CC3)CCC3C(O)=O,NaN,NaN,NaN,NaN,NaN,NaN
4,F1904-0909,Inconclusive,Yes,Yes,N1(c2cc(ncn2)C)CC(C(CN3)C1)C3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
456459,F1916-0071,Inconclusive,Inconclusive,No,c(cc1C2c3ccc(cc3)OCC(OCC)=O)(c(OC(C)=O)cc1OC(C...,NaN,NaN,NaN,NaN,NaN,NaN
456460,F1170-0375,Inconclusive,Yes,No,[n+]1(Cc(c2)cc(c(OCCCCCCCCCCCCCCCC)c2Cc(c3)c(O...,NaN,NaN,NaN,NaN,NaN,NaN
456461,F0020-0431,Inconclusive,No,No,C1(COC(c2ccccc2)(c3ccccc3)c4ccccc4)(OC5OC(COC(...,NaN,NaN,NaN,NaN,NaN,NaN
456462,F0880-0036,Inconclusive,No,No,P(COCc(cc(C)c(c1CC(Cc2cc(COCP(c3ccccc3)(c4cccc...,NaN,NaN,NaN,NaN,NaN,NaN
456463,F1170-0036,Inconclusive,Yes,Yes,C12(CC(CC3C1)CC(C3)C2)C(C(O)=O)C(O)=O,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df = df[(df['Activity_against_INF'] == 'Yes')]
df = df[(df['Stability'] == 'Yes')]
df = df[(df['Solubility'] == 'Yes')]

In [8]:
df = df.drop(['Name[1]'], axis=1)
df = df.drop(['Name[2]'], axis=1)
df = df.drop(['Name[3]'], axis=1)
df = df.drop(['Activity_against_INF[1]'], axis=1)
df = df.drop(['Activity_against_INF[2]'], axis=1)
df = df.drop(['Activity_against_INF[3]'], axis=1)

In [9]:
df

,Name,Activity_against_INF,Stability,Solubility,Smiles
5,F1904-9831,Yes,Yes,Yes,n1c(ccc(OCC(CCN2)C2)n1)C(C)(C)C
34,F6438-6904,Yes,Yes,Yes,n1c(ccc(n1)NC2CCC2O)C(C)(C)C
38,F6438-7101,Yes,Yes,Yes,n1(CC2(CCCC2)O)cc(cn1)Cl
39,F6438-7110,Yes,Yes,Yes,n1(CC(O)(CC2)CCO2)cc(cn1)Cl
94,F6608-0254,Yes,Yes,Yes,n1c(C)nc(cc1OCC2CCCN2)C
...,...,...,...,...,...
453628,F2001-0092,Yes,Yes,Yes,c(c1c(n2CC(=O)N(CC)CC)cccc1)(C(=O)C(=O)NC(c3cc...
453644,F6518-4859,Yes,Yes,Yes,S(NCCc(cc1)ccc1c2ccnn2C)(=O)(=O)c3ccc(c(Cl)c3)F
453917,F6518-4909,Yes,Yes,Yes,S(NCCc(cc1)ccc1c2ccnn2C)(=O)(=O)c3ccccc3OC(F)(F)F
455179,F6518-4917,Yes,Yes,Yes,c1(cccc(nsn2)c12)S(NCCc(cc3)ccc3c4ccnn4C)(=O)=O
455804,F3375-2150,Yes,Yes,Yes,c(C#N)(c(\C(\C#N)=C\c(cn(n1)c2ccccc2)c1c3ccc(c...

In [10]:
df.to_csv ("LC_activite_stabile_soluble_INF.csv", index = None, header=True)