<a href="https://colab.research.google.com/github/Jahan08/Amber-tutorial/blob/main/Retrieve-Data-Cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install chembl_webresource_client

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting chembl_webresource_client
  Downloading chembl_webresource_client-0.10.8-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.2/55.2 KB 3.5 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.9/dist-packages (from chembl_webresource_client) (2.27.1)
Collecting requests-cache~=0.7.0
  Downloading requests_cache-0.7.5-py3-none-any.whl (39 kB)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from chembl_webresource_client) (1.26.15)
Requirement already satisfied: easydict in /usr/local/lib/python3.9/dist-packages (from chembl_webresource_client) (1.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.18.4->chembl_webresource_client) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.18.4->chembl_webresource_client) (3.4)
Collecting url-normalize<2.0,>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: itsdangerous>=2.0.1 in /usr/local/lib/python3.9/dist-packages (from requests-cache~=0.7.0->chembl_webresource_client) (2.1.2)
Requirement already satisfied: pyyaml>=5.4 in /usr/local/lib/python3.9/dist-packages (from requests-cache~=0.7.0->chembl_webresource_client) (6.0)
Collecting attrs<22.0,>=21.2
  Downloading attrs-21.4.0-py2.py3-none-any.whl (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 KB 4.6 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from url-normalize<2.0,>=1.4->requests-cache~=0.7.0->chembl_webresource_client) (1.16.0)
Installing collected packages: url-normalize, attrs, requests-cache, chembl_webresource_client
  Attempting uninstall: attrs
    Found existing installation: attrs 22.2.0
    Uninstalling attrs-22.2.0:
      Successfully uninstalled attrs-22.2.0
Successfully installed attrs-21.4.0 chembl_webresource_client-0.10.8 requests-cache-0.7.5 url-normalize-1.4.3

In [2]:
import pandas as pd
from chembl_webresource_client.new_client import new_client

In [3]:
target = new_client.target
target_query = target.search('HEK293')
targets = pd.DataFrame.from_dict(target_query)
targets

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,[],Homo sapiens,HEK293,20.0,False,CHEMBL614818,[],CELL-LINE,9606

In [4]:
selected_target = targets.target_chembl_id[0]
selected_target

'CHEMBL614818'

In [11]:
activity = new_client.activity
res = activity.filter(target_chembl_id=selected_target).filter(standard_type="GI50")

In [12]:
df = pd.DataFrame.from_dict(res)
df

,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,bao_format,...,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
0,None,2388082,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,5.6
1,None,2388083,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,1.7
2,None,2388084,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,10.0
3,None,2388085,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,2.8
4,None,2388086,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,None,23257174,[],CHEMBL4832360,Cytotoxicity against HEK293 cells assessed as ...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,20.01
128,None,23257175,[],CHEMBL4832360,Cytotoxicity against HEK293 cells assessed as ...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,9.09
129,None,24415209,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,9.607999999999999
130,None,24415210,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,11.380999999999998
131,None,24415211,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,10.925

In [ ]:
df = pd.read_csv('/content/bioactivity_data_UO-31.csv', header = 0)

<ipython-input-176-0c86e62881e9>:1: DtypeWarning: Columns (15,25,28,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/bioactivity_data_UO-31.csv', header = 0)

In [13]:
# considering nM unit for MIC
#df = df[(df['standard_type'] == 'GI50')]
#df = df[(df['standard_type'] == 'IC50')]
#df = df[(df['standard_type'] == 'EC50')]
df = df[(df['standard_units'] == 'nM')]
df = df[(df['relation'] == '=')]
df = df[df.canonical_smiles.notna()]
df = df[df.standard_value.notna()]
df

,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,bao_format,...,target_organism,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value
0,None,2388082,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,5.6
1,None,2388083,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,1.7
3,None,2388085,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,2.8
4,None,2388086,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,1.5
5,None,2388087,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,None,23257174,[],CHEMBL4832360,Cytotoxicity against HEK293 cells assessed as ...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,20.01
128,None,23257175,[],CHEMBL4832360,Cytotoxicity against HEK293 cells assessed as ...,A,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,9.09
129,None,24415209,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,9.607999999999999
130,None,24415210,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,11.380999999999998
131,None,24415211,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,Homo sapiens,HEK293,9606,None,None,GI50,uM,UO_0000065,None,10.925

In [14]:
fix = []

for i in df.standard_value:
    fix.append(float(i))

STATUS = []

for i in fix:
    if i < 1000:
        STATUS.append("Yes") #active
        
    elif 20000 <= i <= 100000:
        STATUS.append("No") #inactive
        
    else:
        STATUS.append("IN") #intermediate     

df = df.drop('value', 1)
df['value'] = fix
df['Activity'] = STATUS
df

<ipython-input-14-d453deb383ef>:18: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('value', 1)

,activity_comment,activity_id,activity_properties,assay_chembl_id,assay_description,assay_type,assay_variant_accession,assay_variant_mutation,bao_endpoint,bao_format,...,target_pref_name,target_tax_id,text_value,toid,type,units,uo_units,upper_value,value,Activity
0,None,2388082,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,5600.0,IN
1,None,2388083,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,1700.0,IN
3,None,2388085,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,2800.0,IN
4,None,2388086,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,1500.0,IN
5,None,2388087,[],CHEMBL1001102,Cytotoxicity against HEK293 cells after 48 hrs...,A,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,700.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,None,23257174,[],CHEMBL4832360,Cytotoxicity against HEK293 cells assessed as ...,A,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,20010.0,No
128,None,23257175,[],CHEMBL4832360,Cytotoxicity against HEK293 cells assessed as ...,A,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,9090.0,IN
129,None,24415209,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,9608.0,IN
130,None,24415210,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,11381.0,IN
131,None,24415211,"[{'comments': None, 'relation': '=', 'result_f...",CHEMBL5047217,Antiproliferative activity against human HEK29...,T,None,None,BAO_0000189,BAO_0000219,...,HEK293,9606,None,None,GI50,uM,UO_0000065,None,10925.0,IN

In [15]:
# considering nM unit for MIC
df = df[(df['Activity'] != 'IN')]
len(df)

37

In [16]:
df.to_csv('/content/bioactivity_data_HEK293_GI50.csv', index=False)